{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">


    <div class="row"><div class="col-md-12"><h1 class="text-primary">Profil</h1></div></div>
            </div>
        </div>
        <div class="section"><div class="container"><div class="row"><div class="col-md-12"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Succès</h3></div><div class="panel-body"><p>Panel content</p></div></div></div></div></div></div><div class=" section" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-left">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-left">
                        <p contenteditable="true"></p><i class="fa fa-5x fa-fw fa-mobile"></i>
                        
                        <p></p>
                    </div><div class="col-md-4"><ol class="paragraph">
                            <p>Prénom&nbsp;</p>
                            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                            <p>Age</p>
                            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                        </ol></div><div class="col-md-5" id="pn-achieve"><h2 class="text-center">Description<br></h2><p>Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud </p></div>
                    
                </div>
            </div>
        </div>
        <div class="section"><div class="container"><div class="row"><div class="col-md-12"><h1>Associations aidées</h1></div></div><div class="row"><div class="col-md-12"><ol><li>One</li><li>Two</li><li>Three</li></ol></div></div></div></div>
</div>
