{% extends "FOSUserBundle::layout.html.twig" %}


   {% block title %}S'enregistrer{% endblock %}

{% block fos_user_content %}
<div class="register">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}

