{# app/Resources/views/survey/create.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}Creer{% endblock %}

{% block content %}

 {{ form_errors(form) }}
    {{ form(form) }}  
            
           

    </div>


{% endblock %}
